#ASSIGNMENT FOR DATA TYPES AND STRUCTURES

#1. What are data structures, and why are they important?
 - Data structures bring together the data elements in a logical way and facilitate the effective use, persistence and sharing of data. They provide a formal model that describes the way the data elements are organized. Data structures are the building blocks for more sophisticated applications.

 Data strucures are important because they provide a way to organize and store data in a way that is efficient and easy to manipulate. Without data structures, it would be difficult to create efficient and effective software. One of the most important reasons for using data structures is to improve the performance of a program.

#2. Explain the difference between mutable and immutable data types with examples?
 - Mutable data types are the ones which can be modified or the values or the content can be changed once after they are created but immutable data types are the ones which we cannot change or modify once they are created.

 For example: Mutable examples include lists, dictionaries, and sets, while immutable examples include strings and tuples.

#3. What are the main differences between lists and tuples in Python ?
 - The main difference between lists and tuples is that lists are mutable data types and tuples are immutable data types. Which means that the elements of lists can be modified once they are created whereas the elements of tuples cannot be modified after they are already created.  

 Lists are well-suited for dynamic data where you need to frequently update the collection. Whereas tuples are ideal for fixed data where the elements should not be modified, such as coordinates, configuration settings, or representing immutable records.

 Lists have a variety of built-in methods for manipulation, such as append(), remove(), sort(), etc. Whereas tuples have fewer built-in methods compared to lists, primarily for accessing elements or checking their presence.

#4. Describe how dictionaries store data?
  - A python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can't be repeated and must be immutable. A dictionary is an unordered, mutable data structure where each key must be unique and immutable, while values can be of any data type.

  The syntax for defining a dictionary in Python involves enclosing comma-separated key-value pairs within curly braces {}. Each key-value pair is structured as key: value, where the key and value are separated by a colon.

#5. Why might you use a set instead of a list in Python?
- Both sets and lists have different uses in python according to our needs, so accordingly we choose whether to use lists or sets.

  Since sets do not store indexed data or duplicates, they use less memory than lists and are less computationally expensive. As a result, sets take less time to search through.

#6. What is a string in Python, and how is it different from a list?
 - In python, strings are used for representing textual data. A string is a sequence of characters enclosed in either single quotes ('') or double quotes (“”).

   Like lists, strings are also objects and have methods. One difference, though is that while some list methods (like sort and append) change the list, none of the string methods ever change a string.

#7. How do tuples ensure data integrity in Python?
 - Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed. This characteristic makes tuples suitable for situations where data should remain constant throughout the program's execution.
   
#8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that allows for quick insertion, deletion, and retrieval of data.

 When a key is added to a dictionary, Python calculates its hash value using a hash function. This hash value determines the index in the hash table where the key-value pair will be stored. When retrieving a value, Python again calculates the hash of the key and directly accesses the corresponding index in the hash table, allowing for fast lookups.

#9. Can lists contain different data types in Python3in Python ?
 - Yes, lists can contain different data types in python. Python lists are versatile and can hold elements of various types within the same list, including integers, floats, strings, booleans, and even other lists or dictionaries.

#10. Explain why strings are immutable in Python?
 - Python strings are "immutable" which means they cannot be changed after they are created. Strings are immutable because of several design choices that prioritize efficiency, security, and simplicity. Immutability ensures that once a string is created, its value cannot be altered. Any operation that appears to modify a string actually creates a new string object.

 Immutability also simplifies memory management.Also  it enhances security by preventing unintended modifications to string data.

#11. What advantages do dictionaries offer over lists for certain tasks?
 -  1. Dictionaries in Python offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

    2. Efficient for storing large amounts of data: Due to its efficient data retrieval mechanism, dictionaries are ideal for storing and accessing large datasets quickly.
     
    3. Easy to understand key value pairs: Dictionaries consist of key value pairs, making it easier to associate and access relevant data together.

#12. Describe a scenario where using a tuple would be preferable over a list?
- Use a tuple if you need an immutable collection where the elements won't change after creation.    
- Advantages of tuple over list in python are that they can be sorted, iterated and they maintain their order automatically. Disadvantages would be that you cannot add or remove elements from a tuple once created.

#13. How do sets handle duplicate values in Python?
- Sets in Python are designed to store only unique elements. When attempting to add a duplicate value to a set, it is automatically ignored, maintaining the set's property of containing only distinct elements. This behavior is fundamental to the nature of sets as unordered collections of unique items.

#14. How does the “in” keyword work differently for lists and dictionaries?
- For Lists: The in keyword in Python is used to check if a value exists within a sequence, such as a list. It returns True if the value is found in the list and False otherwise.

 For Dictionaries: When used with dictionaries, it specifically checks if a given key exists within the dictionary's keys. It does not search for values. The in operator provides an efficient way to verify the presence of a key.

#15. Can you modify the elements of a tuple? Explain why or why not.
- No, we cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable, meaning their contents cannot be changed once they are defined. Trying to modify a tuple will result in a TypeError.

#16. What is a nested dictionary, and give an example of its use case.
- A nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

For example :people = {1: {'name': 'John', 'age': '27'},
          2: {'name': 'Marie', 'age': '22'}}

print(people)

here "people" is a nested dictionary where "1" and "2" are assigned to people.

#17. Describe the time complexity of accessing elements in a dictionary.
-  Accessing elements by their key typically has a time complexity of O(1) on average. This means the time required to access an element doesn't depend on the number of elements in the dictionary, and it remains constant regardless of size. In the worst-case scenario, due to potential hash collisions, the complexity can be O(n), where n is the number of elements.

#18. In what situations are lists preferred over dictionaries?
- Lists are often preferred over dictionaries when the order of elements is crucial, for performing operations like sorting, or when you need a simple way to store and access items by their position. Dictionaries excel in situations where fast lookups by key are needed.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are unordered. When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change. Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.Data retrieval is primarily determined by the key used to access the value.

#20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In terms of data retrieval, a dictionary excels at quickly accessing values using unique keys, while a list retrieves values based on their position (index) in a sequence. Lists require searching through elements, while dictionaries use hashing for near-instantaneous lookup, making them significantly faster for accessing data by a specific identifier.

#PRACTICAL QUESTIONS

In [5]:
#1. Write a code to create a string with your name and print it.

name = "Vanshita Soni"
print(name)

Vanshita Soni

In [6]:
#2. Write a code to find the length of the string "Hello World".

a="Hello World"
print(len(a))

11

In [7]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

a= "Python Programming"
sliced_string = a[:3]
print(sliced_string)

Pyt

In [8]:
#4. Write a code to convert the string "hello" to uppercase.

a="hello"
uppercase_a =a.upper()
print(uppercase_a)

HELLO

In [9]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

a="I like apple"
new_a=a.replace("apple", "orange")
print(new_a)

I like orange

In [10]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

numbers=list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [13]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

a=['a','b','c','d']
second_element = a[1]
print(second_element)

b

In [14]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

a=['10','20','30','40','50']
reverse_a=a[::-1]
print(reverse_a)

['50', '40', '30', '20', '10']

In [15]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

a=('100','200','300')
print(a)

('100', '200', '300')

In [16]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

a=('red','green','blue','yellow')
second_last = a[-2]
print(second_last)

blue

In [17]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

a=(10,20,5,15)
min_a=min(a)
print(min_a)

5

In [18]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

a=('dog', 'cat', 'rabbit')
cat=a.index('cat')
print(cat)

1

In [19]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits=('apple','mango','kiwi','orange')
if "kiwi" in fruits:
  print("yes, kiwi is present in fruits")
else:
    print("No, kiwi isn't there in fruits")

yes, kiwi is present in fruits

In [20]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

the_set ={'a','b','c'}
print(the_set)

{'a', 'b', 'c'}

In [21]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

the_set={1,2,3,4,5}
the_set.clear()
print(the_set)

set()

In [22]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

the_set={'1','2','3','4'}
the_set.remove('4')
print(the_set)

{'2', '3', '1'}

In [23]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set_1={'1','2','3'}
set_2={'3','4','5'}
set_3=set_1.union(set_2)
print(set_3)

{'1', '4', '2', '5', '3'}

In [24]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set_1={'1','2','3'}
set_2={'2','3','4'}
set_3=set_1.intersection(set_2)
print(set_3)

{'3', '2'}

In [25]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict_1={"name":"Vanshita Soni" , "age":"22", "city":"Bhilai" }
print(dict_1)

{'name': 'Vanshita Soni', 'age': '22', 'city': 'Bhilai'}

In [26]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict_1={'name': 'John', 'age': 25}
dict_1["country"]="USA"
print(dict_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict={'name': 'Alice', 'age': '30'}

a=my_dict['name']
print(a)

Alice

In [28]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

this_dict={'name': 'Bob', 'age': '22', 'city': 'New York'}
this_dict.pop('age')
print(this_dict)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict={'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("yes, city exists in the dictionary")
else:
  print("No, dictionary does not contain city")

yes, city exists in the dictionary

In [30]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

the_list=['apple','kiwi','orange']
the_tuple=('cat','dog','elephant')
the_dict={'name':'Vanshita Soni','city':'Bhilai','age':'22'}
print(the_list, the_tuple,the_dict)

['apple', 'kiwi', 'orange'] ('cat', 'dog', 'elephant') {'name': 'Vanshita Soni', 'city': 'Bhilai', 'age': '22'}

In [31]:
#27.  Write a code to create a list of 5 random numbers bet 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
n = 5
list_num = random.sample(range(1, 101), n)
list_num.sort()
print(list_num)

[17, 19, 24, 42, 99]

In [32]:
#28. Write a code to create a list with strings and print the element at the third index.

list_strings = ['apple','cherry','kiwi','orange']
print(list_strings[3])

orange

In [33]:
#29. Write a code to combine two dictionaries into one and print the result.

dict_1={'1':'apple','2':'cherry','3':'kiwi','4':'orange'}
dict_2={'1':'banana','5':'mango','6':'watermelon'}
dict_3={**dict_1,**dict_2}
print(dict_3)

{'1': 'banana', '2': 'cherry', '3': 'kiwi', '4': 'orange', '5': 'mango', '6': 'watermelon'}

In [34]:
#30. Write a code to convert a list of strings into a set.

list_string = ["apple", "banana", "cherry", "apple","cherry"]
set_string = set(list_string)
print(set_string)

{'cherry', 'banana', 'apple'}